* {
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.888);
    font-family: 'Cascadia Code', 'Consolas', 'Courier New', monospace;
}

body {
    background-color: #121212f6;
}

.banner {
    padding-top: 2px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(255, 251, 6, 0.888);
}

.main-header {
    padding: 0px;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-parent {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    border: 10px solid rgba(0, 0, 0, 0);
    border-radius: 16px;
}
.social-links-parent {
    position: relative;
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links {
    border: 10px solid rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 354px;
    height: 7vh;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}