/* Import all ttf fonts from assets/futura */
@font-face {
  font-family: 'Futura';
  src: url('../assets/futura/Futura-Book-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 14px 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}
